<div id="app-footer">
	<p class="footer-heading"> Need help ?? you can contact me !!!</p>
	 <table class="footer-table">
    	<tbody>
			<tr>
				<td class="footer-info-flex"><p><i class="fas fa-envelope"></i> E-MAIL</p></td>
				<td>:</td>
				<td><a href="mailto:incrediblesakthi21@gmail.com" class="footer-link">incrediblesakthi21@gmail.com</a></td>
			</tr>
			<tr>
				<td class="footer-info-flex"><p><i class="fab fa-instagram"></i> Instagram</p></td>
				<td>:</td>
				<td><a href="https://www.instagram.com/sakthivel__21/" target="_blank" class="footer-link">sakthivel__21</a></td>
			</tr>
		</tbody>
    </table>
</div>
