/* You can add global styles to this file, and also import other style files */
*, *::before, *::after {
  --primary-blue: #007bff;
  --primary-background:#2b2a33;
  --primary-white:#ffffff;
  --primary-grey:#d7d5d5;
  --primary-purple:#4B5C8C;
  --secondary-purple:#c0cdff;
}

html {
  scroll-behavior: smooth;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background:var(--primary-background);
}
